In [1]:
#Mount your personal Google Drive to colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os #import operating system commands
os.chdir( "/content/drive/My Drive") #change to Google Drive main directory
os.chdir("applied") #move into the new subfolder, thereby making it the current working directory

In [3]:
#import pandas for dataframes
import pandas as pd

In [4]:
fourone = pd.read_csv("ssu_4_1.otu", sep='\t', header=0) #read in the 4.1 OTU file

In [5]:
fourone

        OTU_id                                           taxonomy
0            1  sk__Eukaryota;k__Viridiplantae;p__Streptophyta...
1            2  sk__Eukaryota;k__Viridiplantae;p__Chlorophyta;...
2            3  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Inse...
3            4  sk__Bacteria;k__;p__Firmicutes;c__Bacilli;o__B...
4            5  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...
...        ...                                                ...
265501  265502  sk__Bacteria;k__;p__Actinobacteria;c__Actinoba...
265502  265503  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...
265503  265504  sk__Eukaryota;k__Metazoa;p__Acanthocephala;c__...
265504  265505  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Mala...
265505  265506                                       Unclassified

[265506 rows x 2 columns]

In [6]:
five = pd.read_csv("ssu_5.otu", sep='\t', header=0) #read in the 5.0 OTU file

In [7]:
five

        OTU_id                                           taxonomy  taxonomy_id
0            1                                       Unclassified          NaN
1            2  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Inse...     433265.0
2            3  sk__Bacteria;k__;p__Deinococcus-Thermus;c__Dei...     759814.0
3            4  sk__Eukaryota;k__Metazoa;p__Platyhelminthes;c_...      60517.0
4            5  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Inse...     491303.0
...        ...                                                ...          ...
237843  237844  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Arac...     473153.0
237844  237845  sk__Bacteria;k__;p__Actinobacteria;c__Actinoba...     941760.0
237845  237846  sk__Bacteria;k__;p__Proteobacteria;c__Betaprot...    1435908.0
237846  237847  sk__Bacteria;k__;p__Actinobacteria;c__Actinoba...     285574.0
237847  237848  sk__Bacteria;k__;p__Firmicutes;c__Bacilli;o__B...     454050.0

[237848 rows x 3 columns]

In [8]:
fourone

        OTU_id                                           taxonomy
0            1  sk__Eukaryota;k__Viridiplantae;p__Streptophyta...
1            2  sk__Eukaryota;k__Viridiplantae;p__Chlorophyta;...
2            3  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Inse...
3            4  sk__Bacteria;k__;p__Firmicutes;c__Bacilli;o__B...
4            5  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...
...        ...                                                ...
265501  265502  sk__Bacteria;k__;p__Actinobacteria;c__Actinoba...
265502  265503  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...
265503  265504  sk__Eukaryota;k__Metazoa;p__Acanthocephala;c__...
265504  265505  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Mala...
265505  265506                                       Unclassified

[265506 rows x 2 columns]

In [9]:
fourone.head()

   OTU_id                                           taxonomy
0       1  sk__Eukaryota;k__Viridiplantae;p__Streptophyta...
1       2  sk__Eukaryota;k__Viridiplantae;p__Chlorophyta;...
2       3  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Inse...
3       4  sk__Bacteria;k__;p__Firmicutes;c__Bacilli;o__B...
4       5  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...

In [10]:
four_test= fourone.copy() #make a copy to mess with

In [11]:
four_test.head()

   OTU_id                                           taxonomy
0       1  sk__Eukaryota;k__Viridiplantae;p__Streptophyta...
1       2  sk__Eukaryota;k__Viridiplantae;p__Chlorophyta;...
2       3  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Inse...
3       4  sk__Bacteria;k__;p__Firmicutes;c__Bacilli;o__B...
4       5  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...

In [12]:
# does a left join of the two tables with taxonomy as key in order to match NCBI id from 5.0 with OTUs in 4.1
final_test=four_test.merge(five[['taxonomy', 'taxonomy_id']], left_on='taxonomy',right_on='taxonomy', how='left')

In [13]:
final_test

        OTU_id                                           taxonomy  taxonomy_id
0            1  sk__Eukaryota;k__Viridiplantae;p__Streptophyta...          NaN
1            2  sk__Eukaryota;k__Viridiplantae;p__Chlorophyta;...     554069.0
2            3  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Inse...      89828.0
3            4  sk__Bacteria;k__;p__Firmicutes;c__Bacilli;o__B...     153935.0
4            5  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...     859002.0
...        ...                                                ...          ...
265504  265502  sk__Bacteria;k__;p__Actinobacteria;c__Actinoba...     932037.0
265505  265503  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...    1267834.0
265506  265504  sk__Eukaryota;k__Metazoa;p__Acanthocephala;c__...          NaN
265507  265505  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Mala...     689441.0
265508  265506                                       Unclassified          NaN

[265509 rows x 3 columns]

In [15]:
final_test.to_csv('final_otu_test.tsv', sep='\t', index=False) #write the table to a .tsv file

In [37]:
final_test['taxonomy_id'] = final_test['taxonomy_id'].astype(str).replace('\.0', '', regex=True) #removes the decimal points from the IDs

In [38]:
final_test

        OTU_id                                           taxonomy taxonomy_id
0            1  sk__Eukaryota;k__Viridiplantae;p__Streptophyta...         nan
1            2  sk__Eukaryota;k__Viridiplantae;p__Chlorophyta;...      554069
2            3  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Inse...       89828
3            4  sk__Bacteria;k__;p__Firmicutes;c__Bacilli;o__B...      153935
4            5  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...      859002
...        ...                                                ...         ...
265504  265502  sk__Bacteria;k__;p__Actinobacteria;c__Actinoba...      932037
265505  265503  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...     1267834
265506  265504  sk__Eukaryota;k__Metazoa;p__Acanthocephala;c__...         nan
265507  265505  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Mala...      689441
265508  265506                                       Unclassified         nan

[265509 rows x 3 columns]

In [39]:
final_rounded = final_test.copy()

In [40]:
final_rounded

        OTU_id                                           taxonomy taxonomy_id
0            1  sk__Eukaryota;k__Viridiplantae;p__Streptophyta...         nan
1            2  sk__Eukaryota;k__Viridiplantae;p__Chlorophyta;...      554069
2            3  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Inse...       89828
3            4  sk__Bacteria;k__;p__Firmicutes;c__Bacilli;o__B...      153935
4            5  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...      859002
...        ...                                                ...         ...
265504  265502  sk__Bacteria;k__;p__Actinobacteria;c__Actinoba...      932037
265505  265503  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...     1267834
265506  265504  sk__Eukaryota;k__Metazoa;p__Acanthocephala;c__...         nan
265507  265505  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Mala...      689441
265508  265506                                       Unclassified         nan

[265509 rows x 3 columns]

In [41]:
final_rounded.to_csv('final_otu_rounded.tsv', sep='\t', index=False) #write the version without decimal points to a .tsv file