In [1]:
#Mount your personal Google Drive to colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd #import pandas for dataframes
import os #import operating system commands
os.chdir( "/content/drive/My Drive") #change to Google Drive main directory
os.chdir("applied") #move into the new subfolder, thereby making it the current working directory

In [24]:
otus = pd.read_csv("ssu_4_1.otu", sep='\t')

In [10]:
otus

     OTU_id                                           taxonomy
0       208  sk__Bacteria;k__;p__Firmicutes;c__Bacilli;o__B...
1       209  sk__Bacteria;k__;p__Proteobacteria;c__Alphapro...
2       210  sk__Bacteria;k__;p__Firmicutes;c__Bacilli;o__B...
3       211  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...
4       212  sk__Bacteria;k__;p__Cyanobacteria;c__;o__Synec...
..      ...                                                ...
112     320  sk__Bacteria;k__;p__Proteobacteria;c__Deltapro...
113     321  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...
114     322  sk__Bacteria;k__;p__Actinobacteria;c__Actinoba...
115     323  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...
116     324  sk__Eukaryota;k__Metazoa;p__Platyhelminthes;c_...

[117 rows x 2 columns]

In [5]:
translation = pd.read_csv("final_otu_rounded.tsv", sep= '\t')

In [7]:
translation['taxonomy_id'] = translation['taxonomy_id'].astype(str).replace('\.0', '', regex=True) #removes the decimal points from the IDs

In [8]:
translation

        OTU_id                                           taxonomy taxonomy_id
0            1  sk__Eukaryota;k__Viridiplantae;p__Streptophyta...         nan
1            2  sk__Eukaryota;k__Viridiplantae;p__Chlorophyta;...      554069
2            3  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Inse...       89828
3            4  sk__Bacteria;k__;p__Firmicutes;c__Bacilli;o__B...      153935
4            5  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...      859002
...        ...                                                ...         ...
265504  265502  sk__Bacteria;k__;p__Actinobacteria;c__Actinoba...      932037
265505  265503  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...     1267834
265506  265504  sk__Eukaryota;k__Metazoa;p__Acanthocephala;c__...         nan
265507  265505  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Mala...      689441
265508  265506                                       Unclassified         nan

[265509 rows x 3 columns]

In [25]:
translated=otus.merge(translation[['OTU_id', 'taxonomy_id']], left_on='OTU_id',right_on='OTU_id', how='left')

In [26]:
translated

        OTU_id                                           taxonomy taxonomy_id
0            1  sk__Eukaryota;k__Viridiplantae;p__Streptophyta...         nan
1            2  sk__Eukaryota;k__Viridiplantae;p__Chlorophyta;...      554069
2            3  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Inse...       89828
3            4  sk__Bacteria;k__;p__Firmicutes;c__Bacilli;o__B...      153935
4            5  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...      859002
...        ...                                                ...         ...
265504  265502  sk__Bacteria;k__;p__Actinobacteria;c__Actinoba...      932037
265505  265503  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...     1267834
265506  265504  sk__Eukaryota;k__Metazoa;p__Acanthocephala;c__...         nan
265507  265505  sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Mala...      689441
265508  265506                                       Unclassified         nan

[265509 rows x 3 columns]

In [3]:
tempura = pd.read_csv("TEMPURA.csv")

In [13]:
tempura

                genus_and_species  taxonomy_id  ...   Tmax Tmax_Tmin
0           Methanopyrus kandleri         2320  ...  122.0      37.0
1             "Geogemma barossii"      1927912  ...  121.0      36.0
2               Pyrolobus fumarii        54252  ...  113.0      23.0
3           Pyrococcus kukulkanii      1609559  ...  112.0      42.0
4           Methanopyrus kandleri         2320  ...  110.0      38.0
...                           ...          ...  ...    ...       ...
8634           Moritella profunda       111291  ...   12.0      10.0
8635    Lacinutrix jangbogonensis      1469557  ...   10.0       6.0
8636           Desulfofaba gelida        84981  ...   10.0      11.8
8637          Shewanella benthica        43661  ...   10.0      10.0
8638  Methanofervidicoccus abyssi      2082189  ...   80.0      20.0

[8639 rows x 20 columns]

In [19]:
ttempura = tempura.astype({"taxonomy_id": str})

In [20]:
ttempura

                genus_and_species taxonomy_id  ...   Tmax Tmax_Tmin
0           Methanopyrus kandleri        2320  ...  122.0      37.0
1             "Geogemma barossii"     1927912  ...  121.0      36.0
2               Pyrolobus fumarii       54252  ...  113.0      23.0
3           Pyrococcus kukulkanii     1609559  ...  112.0      42.0
4           Methanopyrus kandleri        2320  ...  110.0      38.0
...                           ...         ...  ...    ...       ...
8634           Moritella profunda      111291  ...   12.0      10.0
8635    Lacinutrix jangbogonensis     1469557  ...   10.0       6.0
8636           Desulfofaba gelida       84981  ...   10.0      11.8
8637          Shewanella benthica       43661  ...   10.0      10.0
8638  Methanofervidicoccus abyssi     2082189  ...   80.0      20.0

[8639 rows x 20 columns]

In [27]:
matched_temp =translated.merge(ttempura[['taxonomy_id', 'strain','Tmin', 'Topt_ave', 'Tmax']], left_on='taxonomy_id',right_on='taxonomy_id')

In [28]:
matched_temp

      OTU_id                                           taxonomy  ... Topt_ave  Tmax
0         65  sk__Bacteria;k__;p__Bacteroidetes;c__Flavobact...  ...     21.0  30.0
1         74  sk__Archaea;k__;p__Euryarchaeota;c__Halobacter...  ...     45.5  55.0
2        105  sk__Bacteria;k__;p__Deinococcus-Thermus;c__Dei...  ...     27.5  42.0
3        106  sk__Bacteria;k__;p__Actinobacteria;c__Actinoba...  ...     50.0  65.0
4        123  sk__Bacteria;k__;p__Bacteroidetes;c__Sphingoba...  ...     25.0  33.0
...      ...                                                ...  ...      ...   ...
6988  265335  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...  ...     25.0  37.0
6989  265358  sk__Bacteria;k__;p__Proteobacteria;c__Gammapro...  ...     27.5  40.0
6990  265428  sk__Bacteria;k__;p__Firmicutes;c__Bacilli;o__B...  ...     30.0  42.0
6991  265471  sk__Bacteria;k__;p__Bacteroidetes;c__Cytophagi...  ...     31.5  40.0
6992  265492  sk__Bacteria;k__;p__Firmicutes;c__Bacilli;o__B...  ...     30.0  40.0

[6993 rows x 7 columns]